:root {
  --blue-rgb: 92 192 249;
  --green-rgb: 125 161 35;
  --brown-rgb: 127 46 23;
} 

body {
  transition: background-color 1000ms;
}

body:has(.card-front[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card-front[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

body:has(.card-front[data-color="brown"]:hover) {
  background-color: rgb(var(--brown-rgb) / 25%);
}